.about {
    width: 100%;
    height: 280vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    position: relative;
}

.title-about-me {
    align-self: center;
    font-family: var(--Poppins-font);
    text-align: center;
    position: relative;
    top: 50px;
}

.big-title-about-me {
    z-index: 988; 
    font-family: var(--Poppins-font);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 150px;
    position: absolute;
    align-self: center;
    top: -90px;
}

.info-about {
    display: flex;
    position: relative;
    top: 150px;
    width: 100%;
    justify-content: space-around;
    padding: 0 50px;
}

.image-me-about {
    height: 507px;
    width: 360px;
}

.image-me-about img {
    width: 100%;
    height: 100%;
}

.info-about-card {
    width: 700px;
    height: 507px;
    display: flex;
    flex-direction: column;
}
.info-about-card .introduction {
    padding-right: 50px;
}
.info-about-card .introduction h3{
    font-family: var(--Asap-font);
    color: var(--color);
    font-size: 25px;
}
.info-about-card .introduction h2{
    font-family: var(--Poppins-font);
    color: black;
    font-size: 30px;
    margin-top: -10px;
}
.info-about-card .introduction p {
    font-family: var(--Asap-font);
    color: rgb(82, 82, 82);
    text-align: justify;
    line-height: 22.5px;
    margin-bottom: 25px;
}
.info-about2 {
    display: flex;
    width: 100%;
    padding: 5px 0;
}
.info-about3 {
    display: flex;
    width: 75%;
    height: 70px;
    justify-content: space-between;
}
.info-about-31 {
    display: flex;
    font-family: var(--Poppins-font);
    flex-direction: column;
    font-size: 13px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.skill {
    position: relative;
    bottom: -250px;
    align-self: center;
    font-family: var(--Poppins-font);
    font-size: 25px;
}

.skill h2:nth-child(2) {
    z-index: 988; 
    font-family: var(--Poppins-font);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 100px;
    position: absolute;
    left: -115px;
    top: -100px;
}
.container {
    position: relative;
    width: 900px;
    display: flex;
    align-self: center;
    bottom: -300px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card {
    position: relative;
    width: 250px;
    background: rgb(219, 232, 237);
    display: flex;
    justify-content: center;
    border: 3px solid rgb(147, 147, 147);
    align-items: center;
    border-radius: 10px !important;
    height: 300px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Roboto';
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.331);
    background: #666;
    z-index: 1000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number h2 {
    color: #fff;
    font-size: 60px;
}

.percent .number h2 span {
    font-size: 24px;
    color: #fff;
}

.card:hover .percent .number h2 span {
    color: #fff;
    transition: 0.5s;
}

.text {
    position: relative;
    color: var(--color);
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.persen {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    transform: rotate(-90deg);
}

.persen circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(184, 194, 215, 0.653);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.persen circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: var(--color);
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: var(--color);
}
.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: var(--color);
}
.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: var(--color);
}
.card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 20) / 100);
    stroke: var(--color);
}.card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 10) / 100);
    stroke: var(--color);
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .container .card {
        margin: 20px auto;
    }
}

.logo-programming {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
}

.HTML {
    bottom: 800px;
    right: 45px;
    transform: rotate(15deg);
    animation: HTML 2s ease-in-out infinite alternate;
}

.Bootstrap {
    bottom: 600px;
    left: 60px;
    transform: rotate(15deg);
    animation: Bootstrap 1s ease-in-out infinite alternate;
}

.CSS {
    bottom: 450px;
    right: 45px;
    width: 70px !important;
    transform: rotate(20deg);
    animation: CSS 2s ease-in-out infinite alternate;
}

.JS {
    width: 70px !important;
    height: 70px !important;
    bottom: 320px;
    left: 45px;
    transform: rotate(-15deg);
    animation: JS 1.5s ease-in-out infinite alternate;
}

.SASS {
    width: 80px !important;
    height: 80px !important;
    bottom: 980px;
    left: 60px;
    animation: SASS 2s ease-in-out infinite alternate;
}