.kontak {
    width: 100%;
    height: 110vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__ {
    position: relative;
}
.title__ h2:first-child {
    font-family: var(--Asap-font);
    font-size: 35px;
}
.title__ h2:last-child {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 130px;
    font-family: var(--Asap-font);
    position: absolute;
    top: -135px;
    left: -200px;
    z-index: 999;
}
.isi__ {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    height: 80%;
}

.card_1 {
    width: 400px;
    height: 540px;
    padding: 5px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid black;
}.in__card_1 {
    width: 100%;
    height: 100%;
}
.in__card_1 .info_1 {
    font-family: var(--Poppins-font);
}.in__card_1 .info_3 {
    font-family: var(--Poppins-font);
}.info_3 h2 {
    font-size: 16px;
}.info_3 {
    margin-top: 100px;
}.info_2 {
    display: flex;
    width: 100%;
    margin-top: 50px;
    height: 150px;
} .icon_ {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    font-size: 40px;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
    color: var(--color);
    border-right: 3px solid rgb(82, 82, 82);
}.info_icon {
    font-family: var(--Poppins-font);
    display: flex;
    padding: 10px 10px !important;
    flex-direction: column;
    width: 80%;
    padding: 10px 0;
    box-sizing: border-box;
    height: 100%;
}.info_icon a:active {
    color: black !important;
}.info_icon p:active {
    color: black;
}.info_icon p {
    color: rgb(82, 82, 82);
}.socialmedia__ {
    display: flex;
    width: 50%;
    height: 25px;
    font-size: 18.5px;
    margin-top: -10px;
    box-sizing: border-box;
    color: black;
    justify-content: space-around;
}.socialmedia__ a{
    color: rgb(50, 50, 50);
}.socialmedia__ a:hover {
    color: var(--color);
}

.card_2 {
    width: 600px;
    padding-left: 20px;
    margin-top: -20px;
    box-sizing: border-box;
}.form_ {
    width: 100%;
    height: 100%;
    font-family: var(--Poppins-font);
}.form_ p {
    color: rgb(82, 82, 82);
    font-size: 15px;
    margin-top: -15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}label {
    display: block;
}.name_email {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}.name_email input {
    width: 100%;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgb(113, 113, 113);
}.name_email input:focus {
    border: 1px solid var(--color);
}.name {
    width: 45%; margin-right: 25px;
}.email {
    width: 45%;
}textarea {
    width: 94%;
    height: 100px;
    border: 1px solid rgb(113, 113, 113);
}.form_ button{
    width: 100px;
    margin-top: 10px;
    background-color: rgb(0, 218, 164);
    color: white;
    border-radius: 5px;
    height: 45px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.form_ button:active {
    background-color: rgb(122, 215, 192);
}
