@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root {
    --bg: #ffffff;
    --Poppins-font: 'Poppins';
    --Asap-font: 'Asap';
    --color: rgb(85, 216, 183);
    --SCP-font: 'Source Code Pro';

}

*::selection {
    background-color: var(--color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

.swal2-container {
    z-index: 100000 !important;
}
