/* PROJECT SECTION */

.projects {
    background-color: rgb(220, 246, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--Asap-font);
}

.text-featured-projects {
    font-size: 25px;
    position: relative;
    top: 0;
}

.parent-projects {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;

}

.oy {
    position: relative;
    top: -300px;
}

.projects-row {
    width: 100%;
    position: relative;
    display: flex;
}

.image-project {
    position: relative;
    left: 100px;
    width: 700px;
    height: 400px;
}

.image-project div {
    width: 100%;
    height: 100%;
    background-color: rgba(69, 174, 148, 0.66);
    position: absolute;
    top: 0;
    transition: .8s;
    border-radius: 5px;
}

.image-project div:hover {
    background-color: rgba(69, 174, 148, 0);
}

.image-project img{
    width: 700px;
    height: 400px;
    box-shadow: 2px 3px 10px rgb(145, 145, 145);
    border-radius: 5px;
}

.info-project {
    position: absolute;
    width: 580px;
    box-shadow: 2px 2px 10px black;
    right: 200px;
    top: 50px;
    height: 300px;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: var(--bg);
    font-family: var(--Poppins-font);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.no-info-project {
    font-size: 20px;
    color: var(--color);
    position: relative;
    bottom: 15px;
}

.title-project {
    position: relative;
    bottom: 70px;
    font-size: 25px;
    font-weight: 100;
    color: rgb(55, 55, 55);
    font-family: 'Baloo Tamma 2';
}

.desc-project {
    font-size: 15px;
    color: rgb(82, 82, 82);
    position: relative;
    bottom: 100px;
}

.tag-project {
    position: absolute;
    height: 35px;
    bottom: 45px;
    display: flex;
}

.tag {
    padding: 5px 10px;
    height: 15px;
    border-radius: 5px;
    font-family: var(--Asap-font);
    line-height: 15px;
    color: rgb(92, 87, 87);
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(188, 213, 222);
}

.button-project {
    width: 45px;
    position: relative;
    font-size: 23px;
    bottom: 28px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
.button-project a {
    color: var(--color) !important;
}
.button-project i:hover {
    color: black;
}

.info-project2 {
    left: 200px;
}

.image-project2 {
    left: 400px;
    position: relative;
    width: 700px;
    height: 400px;
}

.image-project2 div {
    width: 100%;
    height: 100%;
    background-color: rgba(69, 174, 148, 0.66);
    position: absolute;
    top: 0;
    transition: .8s;
    border-radius: 5px;
}

.image-project2 div:hover {
    background-color: rgba(69, 174, 148, 0);
}

.image-project2 img{
    width: 700px;
    height: 400px;
    box-shadow: 2px 3px 10px rgb(145, 145, 145);
    border-radius: 5px;
}

/** END OF PROJECT **/

.parent_showmore_ {
    width: 100%;
}

.showMoreBtn {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(202, 222, 240);
    color: rgb(220, 246, 255);
    border: 1px solid rgb(202, 222, 240);
    font-size: 17px;
    margin-top: -240px !important;
    transition: .3s;
}

.showMoreBtn:hover {
    background-color: transparent;
    color: rgb(202, 222, 240);
}
