.little-nav {
    position: fixed;
    bottom: 70px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.socialmedia-nav {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: white;
    position: fixed;
    right: 10px;
    opacity: 0;
    cursor: pointer;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    box-shadow: 0 3px 3px black;
    text-decoration: none;
    transition: .3s;
}

.parent-socialmedia-nav {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: white;
    position: fixed;
    right: 10px;
    opacity: 0;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 0;
    color: black;
    box-shadow: 0 3px 3px black;
    text-decoration: none;
    transition: .3s;
}

.parent-socialmedia-nav:hover {
    transform: scale(2) !important;
    color: rgb(141, 141, 141);
    box-shadow: 0 0px 3px 3px black;
}

.checkbox-plus {
    position: fixed;
    right: 5px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

.codepen, .freecodecamp, .instagram{
    z-index: 999;
}

.checkbox-plus:checked ~ .plus h3{
    transform: rotate(45deg);
    right: -1px;
}

.checkbox-plus:checked ~ .codepen {
    animation: codepen .5s .4s forwards;
}

.checkbox-plus:not(:checked) ~ .codepen {
    animation: codepen2 .5s forwards;
}

.checkbox-plus:checked ~ .note {
    animation: note .5s .6s forwards;
}

.checkbox-plus:not(:checked) ~ .note {
    animation: note2 .5s forwards;
}

.checkbox-plus:checked ~ .refresh {
    animation: refresh .5s .8s forwards;
}

.checkbox-plus:not(:checked) ~ .refresh {
    animation: refresh2 .5s forwards;
}


.checkbox-plus:checked ~ .instagram {
    animation: instagram .5s forwards ;
}

.checkbox-plus:not(:checked) ~ .instagram {
    animation: instagram2 .5s forwards ;
}

.checkbox-plus:checked ~ .freecodecamp {
    animation: freecodecamp .5s .2s forwards;
}

.checkbox-plus:not(:checked) ~ .freecodecamp {
    animation: freecodecamp2 .5s forwards;
}

.plus {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    z-index: 989;
}

.plus h3 {
    font-size: 30px;
    position: relative;
    top: -28px;
    transition: .2s;
}

#navbar {
    position: fixed;
    font-family: var(--Asap-font);
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width: 100%;
    color: var(--bg);
    z-index: 9999;
    transition: .3s;
}

#navbar.sticky {
    background-color: white;
    color: black;
    font-size: 16px;
    height: 60px;
    box-shadow: 0px 3px 3px black;
}

#navbar.sticky #nav a {
    color: rgb(191, 191, 191);
    font-size: 18px;
}

#navbar.sticky #nav .animation {
    height: 130%;
    top: -3px;
    background-color: rgb(0, 0, 0)
}

#nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#nav li {
    display: inline;
    margin: 0 10px;
}

#nav .animation{
    position: absolute;
    height: 5px;
    bottom: -5px;
    z-index: 0;
    width: 70px;
    border-radius: 20px;
    background-color: black;
    left: 42px;
    transition: .3s;
    animation: animasi3 1s .5s forwards; opacity: 0;
}

#nav a:first-child:hover ~ .animation {
    width: 70px !important;
    left: 42px !important;
}

#nav a:nth-child(2):hover ~ .animation{
    left: 112.5px !important;
    width: 70px !important;
}

#nav a:nth-child(4):hover ~ .animation{
    left: 275px !important;
    width: 80px !important;
}

#nav a:nth-child(3):hover ~ .animation{
    left: 185px !important;
    width: 85px !important;
}

#nav a {
    color: var(--bg);text-decoration: none;
    font-size: 18px;
    animation: animasi 1s forwards;
    position: relative;
    z-index: 99;
    transition: .3s;
    margin: 0 2px;
}

.abouts.wow ~ .animation{left: 112.5px !important;}
.project.wow ~ .animation {left: 185px !important;
    width: 85px !important;}
.contact.wow ~ .animation {
    left: 275px !important;
    width: 80px !important;
}
/* MODAL */

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.modal-bg.bg-active .modal-card{
    animation: animaci 2s cubic-bezier(.82,-0.26,.13,1.24) forwards;
}
.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-bg .modal-card {
    width: 600px;
    height: 600px;
    padding: 5px 20px;
    position: relative;
    top: 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 3px solid rgb(97, 97, 97);
}

.modal-card .isi {
    width: 100%;
    height: 70%;
    font-family: var(--SCP-font);
    position: relative;
    top: -10px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.isi::-webkit-scrollbar {
    width: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.isi::-webkit-scrollbar-track {
    border-radius: 1px;
    background: transparent;
}

.isi section:not(:first-child) {
    margin-top: 40px;
}

.isi section a {
    color: var(--color);
}

.isi section a::selection {
    background-color: black;
}

.isi section a:active {
    color: black;
}

.close-modal {
    width: 80px;
    height: 40px;
    bottom: -20px;
    position: relative;
    left: 470px;
    color: var(--color);
    background-color: transparent;
    border: 1px solid var(--color);
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal:hover {
    background-color: var(--color);
    color: white;   
}

#about:hover ~ #nav a {
    color: aqua;
}

@media (max-width: 1160px){
    .welcome-section{
        visibility: hidden;
        opacity: 0;
    }
    .about{
        visibility: hidden;
        opacity: 0;
    }
    #projects{
        visibility: hidden;
        opacity: 0;
    }

    body {
        background: #081421 !important;
        color: #d3d7de !important;
        font-family: "Courier new" !important;
        font-size: 18px !important;
        line-height: 1.5em !important;
        cursor: default !important;
    }
    
    a {
        color: #fff;
    }
    
    .code-area {
        position: absolute;
        width: 620px ;
        min-width: 320px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .code-area > span {
        display: block;
    }

    header {
        visibility: hidden;
        opacity: 0;
    }

    .modal-bg {
        min-width: auto;
        color: black !important;
    }
}

@media screen and (max-width: 320px) {
    .code-area {
        font-size: 5vw;
        min-width: auto;
        width: 95%;
        margin: auto;
        padding: 5px;
        padding-left: 10px;
        line-height: 6.5vw;
    }

    .modal-bg {
        min-width: auto;
    }
    .modal-bg {
        min-width: auto;
        color: black !important;
    }
}

@media (min-width: 1160px) {
    .code-area {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
}

@media (min-width: 1160px) and (max-height: 730px) {
    header {
        visibility: hidden;
        opacity: 0;
    }
    
    .welcome-section{
        visibility: hidden;
        opacity: 0;
    }
    .about{
        visibility: hidden;
        opacity: 0;
    }
    #projects{
        visibility: hidden;
        opacity: 0;
    }

    body {
        background: #081421 !important;
        color: #d3d7de !important;
        font-family: "Courier new" !important;
        font-size: 18px !important;
        line-height: 1.5em !important;
        cursor: default !important;
    }
    
    a {
        color: #fff;
    }
    
    .code-area {
        position: absolute;
        width: 620px ;
        min-width: 320px;
        top: 50%;
        left: 50%;
        opacity: 1 !important;
        visibility: visible !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .code-area > span {
        display: block;
    }

    .modal-bg {
        min-width: auto;
        color: black !important;
    }
}
