.little-nav {
    position: fixed;
    bottom: 70px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.socialmedia-nav {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: white;
    position: fixed;
    right: 10px;
    opacity: 0;
    cursor: pointer;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    box-shadow: 0 3px 3px black;
    text-decoration: none;
    transition: .3s;
}

.parent-socialmedia-nav {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: white;
    position: fixed;
    right: 10px;
    opacity: 0;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 0;
    color: black;
    box-shadow: 0 3px 3px black;
    text-decoration: none;
    transition: .3s;
}

.parent-socialmedia-nav:hover {
    transform: scale(2) !important;
    color: rgb(141, 141, 141);
    box-shadow: 0 0px 3px 3px black;
}

.checkbox-plus {
    position: fixed;
    right: 5px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

.codepen, .freecodecamp, .instagram{
    z-index: 999;
}

.checkbox-plus:checked ~ .plus h3{
    transform: rotate(45deg);
    right: -1px;
}

.checkbox-plus:checked ~ .codepen {
    animation: codepen .5s .4s forwards;
}

.checkbox-plus:not(:checked) ~ .codepen {
    animation: codepen2 .5s forwards;
}

.checkbox-plus:checked ~ .instagram {
    animation: instagram .5s forwards ;
}

.checkbox-plus:not(:checked) ~ .instagram {
    animation: instagram2 .5s forwards ;
}

.checkbox-plus:checked ~ .freecodecamp {
    animation: freecodecamp .5s .2s forwards;
}

.checkbox-plus:not(:checked) ~ .freecodecamp {
    animation: freecodecamp2 .5s forwards;
}

.plus {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    z-index: 989;
}

.plus h3 {
    font-size: 30px;
    position: relative;
    top: -28px;
    transition: .2s;
}

#navbar {
    position: fixed;
    font-family: var(--Asap-font);
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width: 100%;
    color: var(--bg);
    z-index: 999;
    transition: .3s;
}

#navbar.sticky {
    background-color: white;
    color: black;
    font-size: 16px;
    height: 60px;
    box-shadow: 0px 3px 3px black;
}

#navbar.sticky #nav a {
    color: rgb(199, 199, 199);
    font-size: 18px;
}

#navbar.sticky #nav .animation {
    height: 130%;
    top: -3px;
    background-color: rgb(0, 0, 0)
}

#nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#nav li {
    display: inline;
    margin: 0 10px;
}

#nav .animation{
    position: absolute;
    height: 5px;
    bottom: -5px;
    z-index: 0;
    width: 70px;
    border-radius: 20px;
    background-color: black;
    left: 40px;
    transition: .3s;
    animation: animasi3 1s .5s forwards; opacity: 0;
}

#nav a:nth-child(2):hover ~ .animation{
    left: 118px;
}

#nav a:nth-child(4):hover ~ .animation{
    left: 282px;
    width: 80px;
}

#nav a:nth-child(3):hover ~ .animation{
    left: 198px;
    width: 85px;
}

#nav a:nth-child(1) {
    width: 80px;
}
#nav a:nth-child(2) {
    width: 80px;
}
#nav a:nth-child(3) {
    width: 80px;
}

#nav a {
    color: var(--bg);text-decoration: none;
    font-size: 18px;
    animation: animasi 1s forwards;
    position: relative;
    z-index: 99;
    transition: .3s;
}

