
.welcome-section {
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1555852441-ca0d327da1e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--Asap-font);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 90px;
    box-sizing: border-box;
}

.svg-welcome {position: absolute;
bottom: -50px; right: 0;}

.parent-info-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 350px;
    margin-top: 50px;
}

.info-welcome {
    position: relative;
    color: var(--bg);
    border-left: 7px solid var(--bg);
    padding-left: 20px;
    border-radius: 5px;
    height:200px;
}

.btn-wecome {
    width: 100px;
    height: 20px;
    border: 1px solid var(--bg);
    padding: 10px 10px;
    text-align: center;
    margin-top: -10px;
    color: var(--bg);
}

.btn-wecome:hover {
    background-color: var(--bg);
    color: transparent;
}

.social-media-welcome {
    margin-top: 100px;
    font-size: 25px;
    color: var(--bg) !important;
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.social-media-welcome a {
    color: var(--bg);
    transition: .3s;
    width: 25px;
    z-index: 888;
    text-decoration: none;
}

.social-media-welcome a:hover {
    color: var(--color) !important;
}

.Job-welcome {
    width: 776px;
    height: 40px;
    position: relative;
    top: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.job-welcome {
    width: 776px;
    position: relative;
    top: -35px;
    animation: animasii linear 5s infinite ;
}

/* END OF WELCOME SECTION*/
.parent-socialmedia-nav:hover .tooltiptext {
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    padding: 5px 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: .3s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 10px;
    transform: scale(0.7);
    right: 70%;
    font-family: var(--Poppins-font);
}
.tooltiptext {
    visibility: visible;
}
.tooltiptext::after {
    content: " ";
    position: absolute;
    margin-left: -5px;
    transform: rotate(-90deg);
    right: -15px;
    top: 7px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltiptext:hover {
    opacity: 0 !important;
}